.calculator
{
	width: 250px;
	background-color: black;
	border-radius: 8px;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
}

h1
{
	color: white;
}
#display
{
	width:100%;
	padding: 7px;
	margin-bottom:10px;
}
.btn
{
	
	width: 55px;
	height:55px;
	border-radius:50%;
	border:5px solid;
	border-color:yellow;
	margin-bottom:10px
	
}